<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite">
  
  <test name="Automation Practice">
    <classes>
    
      <!-- 1. Google Search Test -->
      <class name="com.jatin.tests.MyFirstTest"/>
      
      <!-- 2. Google Search Test -->
      <class name="com.jatin.tests.LoginTest"/>
      
      <!-- 3. E-commerce Test -->
      <class name="com.jatin.tests.ECommerceTest"/>
    </classes>
  </test>
  
</suite>